<!doctype html>
<html ng-app="app" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>osc</title>
    <meta name="description" content="web audio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- include local jquery, angular -->
    <script src="./src/lodash.js"></script>
    <script src="./src/jquery.js"></script>
    <script src="./src/jquery-ui.min.js"></script>
    <script src="./src/jquery-touch-punch.min.js"></script>
    <script src="./src/angular.min.js"></script>
    <!-- <script src="./src/hidpi-canvas-polyfill-master/dist/hidpi-canvas.min.js"></script> -->
    <!-- third-party & flocking sources -->
    <script src="./dist/src.js"></script>
    <!-- local -->
    <script src="./shared/util/init.js"></script>
    <script src="./shared/util/debounce.js"></script>
    <script src="./shared/synth/synthService.js"></script>
    <script src="./shared/localData.js"></script>
    <script src="./shared/directives/draggable.js"></script>
    <script src="./factory/sliders.js"></script>
    <script src="./controllers/play.js"></script>
    <script src="./controllers/slider.js"></script>
    <script src="./controllers/channels.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="container">
    
      <!-- user controls -->
      <div class="view control-group">
        <!-- volume slider -->
        <div ng-controller="SliderCtrl">
          <div class="slider-container">
            <div class="vol-container">
              <div class="vol-slider" draggable><span>&mdash;</span><span>&mdash;</span><span>&mdash;</span></div>
            </div>
          </div>
        </div>
        <!-- play button -->
        <div ng-controller="PlayCtrl">
          <button ng-click="togglePlay()" class="play-button">{{status}}</button>
        </div>
      </div>
      <!-- waveform -->
      <div class="view">
        <div>
          <canvas id="waveformL" height="328" width="328" style="background: #fff; height: 164px; width: 164px;"></canvas>
        </div>
        <div>
          <canvas id="waveformR" height="328" width="328" style="background: #fff; height: 164px; width: 164px;"></canvas>
        </div>
      </div>
      <!-- synths display -->
      <div ng-controller="ChannelCtrl">
        <!-- left -->
        <div class="channel-group" style="margin-bottom: 4px;">
          <div ng-repeat="synth in channels | orderBy: 'color': 'reverse'" class="channel left bus-{{synth.bus}}" ng-if="synth.bus % 2 == 0">
            <div class="speed-animation {{synth.id}} paused" style="background-color: rgb({{ synth.grayscale }})"></div>
          </div>
        </div>
        <!-- right -->
        <div class="channel-group">
          <div ng-repeat="synth in channels | orderBy: 'color': 'reverse'" class="channel right bus-{{synth.bus}}" ng-if="synth.bus % 2 == 1">
            <div class="speed-animation {{synth.id}} paused" style="background-color: rgb({{ synth.grayscale }})"></div>
          </div>
        </div>
      </div>

    </div><!-- ./container -->

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </body>
</html>
