html {
  font-family: sans-serif;
}

body {
  background: black;
  margin: 0;
}

.container {
  // text-align: center;
  color: white;
  font-size: 1.1em;
}

button.play-button {
  height: 50px;
  width: 50px;
  background: black;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 1.1em;
  // padding: 20px;
  margin: 30px 10px;
  color: white;
  outline: none;
}

.control-group {
  display: flex;
  justify-content: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
}

.vol-container {
  display: flex;
  align-items: flex-end;
  border: 2px solid yellow;
  height: 110px;
  width: 55px;
  margin-right: 10px;
}
.vol-slider {
  width: 100%;
  background: white;
  border: 2px solid green;
  color: black;
  height: 30px;
}

/* channel display */
.channel {
  display: inline-block;
  height: 100px;
  padding: 4px;
}
.channel.left {
  border-top: 4px solid #88f;
}
.channel.right {
  border-top: 4px solid #f88;
}
.channel span {
  background: black;
  color: white;
  font-size: 0.7em;
}

/* animation */
@keyframes divbigger {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    height: 20px;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

.speed-animation {
  background-color: yellow;
  width: 10px;
  height: 10px;
  animation-name: divbigger;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.paused {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}
